* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #181a1b;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
  font-size: 20px;
}
.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}
.dropdowncontent a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.title {
  padding: 2.5vh 0 2vh 0;
  text-align: center;
  background-color: #222;
}
.titletext {
  font-size: 3em;
  font-family: 'Times New Roman', Times, serif;
}
.subtitle {
  font-style: italic;
}

.timelinearticle {
  height: 95vh;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: bottom;
}
.timelinearticle:first-child {
  height: 70vh;
}
.timelinearticle:nth-child(even) {
  border-top: grey 2px solid;
  border-bottom: grey 2px solid;
  height: auto;
  padding-bottom: 2vw;
}
#section1 {
  background-image: url("../img/Napoleon.jpg");
  background-position: center top;
}
#section3 {
  background-image: url("../img/IndustrialRevolution.jpg");
  background-position: center bottom;
}
#section5 {
  background-image: url("../img/1848.jpg");
  background-position: center;
}
#section7 {
  background-image: url("../img/1871.jpg");
  background-position: center;
}
#section9 {
  background-image: url("../img/NewImperialism.png");
  background-position: left;
}
#section11 {
  background-image: url("../img/WWI.jpg");
  background-position: center;
}
.articletitle {
  text-align: center;
  font-size: 40px;
  padding-top: 2vh;
  padding-bottom: 3vw;
} 
.articletext {
  padding: 0 1vw 2em 1vw;
}
.smalltitle {
  padding: 1vw 0 0.5vw 1vw;
  font-size: 1.4em;
}
.linktotop {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1vw;
  text-decoration: none;
  background-color: #444;
}
.linktotop:hover {
  background-color: #555;
}
.linebreaker {
  display: none;
  padding: auto;
}

footer {
  padding: 5vw 0 0.4vw 0;
  display: flex;
  justify-content: center;
}
.footerfooter {
  display: flex;
  justify-content: space-between;
  border-top: darkgray 1px solid;
  width: 80vw;
  padding: 0.2em 1em 0 1em;
}
.footerfooter>*, .footerfooter>*>* {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 960px) {
  #section5 {
    background-position: left top;
  }
  #section7 {
    background-position: left;
  }
}

@media screen and (max-width: 800px) {
  .titletext {
    font-size: 8vw;
  }
  .subtitle {
    font-size: 3.5vw;
  }
  .linebreaker {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .footerfooter {
    flex-direction: column;
  }
}